<div [ngClass]="{ 'padding-reset': isEditing }" class="todolist__item">
  <ng-container *ngIf="!isEditing; else otherInput">
    <div class="todolist__item-wrap-input">
      <div class="todolist__item-inner-input">
        <input
          type="checkbox"
          [checked]="todo.completed"
          class="todolist__item-input"
          [id]="randomLabel"
          (click)="toggleTodo()"
        />
        <label [htmlFor]="randomLabel"></label>
      </div>

      <span
        [ngClass]="{ 'span-checked': todo.completed }"
        (dblclick)="startEdit()"
        class="todolist__item-title"
        >{{ todo.title }}</span
      >
    </div>

    <button (click)="removeTodo()" class="todolist__item-btn"></button>
  </ng-container>

  <ng-template #otherInput>
    <div class="todolist__item-input-edit-wrap">
      <input
        #todoInputRef
        id="todolist__item-input-edit"
        [(ngModel)]="title"
        (focus)="handleFocus()"
        (blur)="handleBlur()"
        (keyup.enter)="updateTodo()"
        class="todolist__item-input-edit"
      />

      <label class="visually-hidden" htmlFor="todolist__item-input-edit">
        Edit Todo title
      </label>
    </div>
  </ng-template>
  <!-- @if (!isEditing) {
    <div class="todolist__item-wrap-input">
      <div class="todolist__item-inner-input">
        <input
          type="checkbox"
          [checked]="todo.completed"
          class="todolist__item-input"
          [id]="randomLabel"
          (click)="toggleTodo()"
        />
        <label [htmlFor]="randomLabel"></label>
      </div>

      <span
        [ngClass]="{ 'span-checked': todo.completed }"
        (dblclick)="startEdit()"
        class="todolist__item-title"
        >{{ todo.title }}</span
      >
    </div>

    <button (click)="removeTodo()" class="todolist__item-btn"></button>
  } @else {
    <div class="todolist__item-input-edit-wrap">
      <input
        #todoInputRef
        id="todolist__item-input-edit"
        [(ngModel)]="title"
        (focus)="handleFocus()"
        (blur)="handleBlur()"
        (keyup.enter)="updateTodo()"
        class="todolist__item-input-edit"
      />

      <label class="visually-hidden" htmlFor="todolist__item-input-edit">
        Edit Todo title
      </label>
    </div>
  } -->
</div>