:host {
  display: block;

  border-bottom: 1px solid #ededed;
}

.todolist {
  &__item {
    position: relative;

    display: flex;
    height: 65px;
    padding: 15px 15px 10px;
  }

  &__item-wrap-input {
    display: flex;
    align-items: center;
    column-gap: 36px;

    width: 100%;

    & span {
      display: inline-flex;
      align-items: center;
      width: 100%;

      font-size: 24px;
      font-weight: 400;

      transition: color var(--transition-duration);

      overflow-wrap: break-word;
      user-select: none;
    }
  }

  &__item-input-edit-wrap {
    width: 100%;
  }

  &__item-input-edit {
    height: 65px;
    width: calc(100% - 50px);
    margin-left: 50px;
    padding: 22px 16px 16px 32px;

    font-size: 24px;

    border: none;

    &:focus {
      box-shadow: 0 0 2px 2px var(--color-focus);

      outline: 0;
    }
  }

  &__item-btn {
    position: absolute;
    top: 50%;
    right: 0;

    display: none;
    width: 61px;

    border: none;
    color: #949494;
    background-color: transparent;

    transform: translateY(-50%);
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: var(--color-title);
      }
    }

    &::before {
      content: "\d7";

      display: block;
      height: 100%;

      font-size: 30px;
    }
  }

  &__item:hover .todolist__item-btn {
    display: block;
  }
}

.todolist__item-input {
  position: absolute;
  z-index: -1;

  opacity: 0;

  & + label {
    display: block;
    width: 31px;
    height: 31px;

    cursor: pointer;
  }

  & + label::before {
    content: "";
    display: inline-block;
    width: 31px;
    aspect-ratio: 1;

    border: 1px solid #adb5bd;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 75% 50%;
  }

  &:checked + label::before {
    border-color: #22b980;
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E);
  }

  &:not(:disabled):not(:checked) + label:hover::before {
    border-color: #22b980;
  }
}

.span-checked {
  color: #949494;
  text-decoration: line-through;
}

.padding-reset {
  padding: 0;
}
