<div class="todolist__input-wrap">
  <ng-container [ngSwitch]="status">
    <ng-template ngSwitchCase="all">
      <ng-container *ngIf="(todosLength$ | async) !== 0">
        <button
          class="todolist__btn-toggle"
          type="button"
          (click)="toggleAll()"
        ></button>
      </ng-container>
    </ng-template>

    <ng-template ngSwitchCase="active">
      <ng-container *ngIf="(activeTodosLength$ | async) !== 0">
        <button
          class="todolist__btn-toggle"
          type="button"
          (click)="toggleAll()"
        ></button>
      </ng-container>
    </ng-template>

    <ng-template ngSwitchCase="completed">
      <ng-container *ngIf="(completedTodosLength$ | async) !== 0">
        <button
          class="todolist__btn-toggle"
          type="button"
          (click)="toggleAll()"
        ></button>
      </ng-container>
    </ng-template>
  </ng-container>

  <input
    class="todolist__input"
    [(ngModel)]="title"
    placeholder="Что нужно добавить?"
    (keyup.enter)="addTodo()"
  />
</div>
