<ng-container *ngIf="test | async as items">
  <ng-container *ngIf="items.length > 0">
    <main class="main">
      <ul class="todolist__items-wrap">
        <ng-container [ngSwitch]="status">
          <ng-template ngSwitchCase="all">
            <ng-container *ngFor="let todo of test | async">
              <tdl-item [todo]="todo" (remove)="removeTodo($event)"></tdl-item>
            </ng-container>
          </ng-template>
          <ng-template ngSwitchCase="active">
            <ng-container *ngFor="let todo of activeTodos$ | async">
              <tdl-item [todo]="todo" (remove)="removeTodo($event)"></tdl-item>
            </ng-container>
          </ng-template>
          <ng-template ngSwitchDefault>
            <ng-container *ngFor="let todo of completedTodos$ | async">
              <tdl-item [todo]="todo" (remove)="removeTodo($event)"></tdl-item>
            </ng-container>
          </ng-template>
        </ng-container>
      </ul>
    </main>
  </ng-container>
</ng-container>
