<main class="main">
  <ul class="todolist__items-wrap">
    <ng-container [ngSwitch]="statusValue">
      <ng-template ngSwitchCase="all">
        <ng-container *ngFor="let todo of todos$ | async">
          <tdl-item [todo]="todo" (remove)="removeTodo($event)"></tdl-item>
        </ng-container>
      </ng-template>
      <ng-template ngSwitchCase="active">
        <ng-container *ngFor="let todo of activeTodos$ | async">
          <tdl-item [todo]="todo" (remove)="removeTodo($event)"></tdl-item>
        </ng-container>
      </ng-template>
      <ng-template ngSwitchDefault>
        <ng-container *ngFor="let todo of completedTodos$ | async">
          <tdl-item [todo]="todo" (remove)="removeTodo($event)"></tdl-item>
        </ng-container>
      </ng-template>
    </ng-container>
  </ul>
</main>
