<ng-container *ngIf="(todos$ | async) as todos">
  <ng-container *ngIf="todos.length !== 0">
    <div class="todolist__footer">
      <span class="todolist__count">Осталось задач: {{ activeTodosLength$ | async }}</span>
      <div class="todolist__footer-btn-wrap">
        <button type="button" (click)="getAll($event)" class="active">Все</button>
        <button type="button" (click)="getActive($event)">Активные</button>
        <button type="button" (click)="getCompleted($event)">Завершённые</button>
      </div>
  
      <ng-container *ngIf="completedTodosLength$ | async">
        <button
          type="button"
          class="todolist__footer-clear-btn"
          (click)="clearCompleted()"
        >
          Очистить завершённые
        </button>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
