<ng-container *ngIf="activeTodos.length > 0 || completedTodos.length > 0">
  <div class="todolist__footer">
    <span class="todolist__count">Осталось задач: {{ activeTodos.length }}</span>
    <div class="todolist__footer-btn-wrap">
      <button type="button" (click)="getAll($event)" class="active">Все</button>
      <button type="button" (click)="getActive($event)">Активные</button>
      <button type="button" (click)="getCompleted($event)">Завершённые</button>
    </div>

    <ng-container *ngIf="completedTodos.length > 0">
      <h2>d</h2>
      <button
        type="button"
        class="todolist__footer-clear-btn"
        (click)="clearCompleted()"
      >
        Очистить завершённые
      </button>
    </ng-container>
  </div>
</ng-container>
